:root{
	/* --primario: #672DB5; */
	--primario: #fff;
	--secundario: #ec9e28;
	--fondo: #36128a;
	--blanco: #fff;
	--formulario: rgb(231, 122, 33);
}


html{
	box-sizing: border-box;
	font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
	font-size: 16px;
	background-color: var(--fondo);
}

/** Globales **/
h1{
	font-size: 3.8rem;
}
h2{
	font-size: 2.8rem;
}
h3{
	font-size: 1.8rem;
}
h1,h2,h3,p{
	text-align: center;
	color: var(--blanco);
}
/** Utilidades **/
.contenedor{
	width: 120rem;
	margin: 0 auto;
}
.no-margin{
	margin: 0;
}
/** Header **/
@media (min-width: 768px){
	.barra{
		display: flex;
		justify-content: space-between;
        align-items: center;
	}	
}

.header-principal{
	background-image: url(../img/img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 55rem;
	background-position: center center;
	padding: 1rem;
}
.logo-header{
	text-decoration: none;
	color: var(--primario);
	font-weight: bold;
}
.barra{

}
@media (min-width: 768px){
	.barra{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
.navegacion-principal a{
	color: var(--secundario);
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	margin-right: 2rem;
	/* padding: 2rem; */
}
.titulo-header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 25rem;
}
.header-principal_titulo{
	color: var(--secundario);
	text-align: center;
	align-content: flex-end;
}


/* Contenido */
@media (min-width: 768px){
	.contenido-principal{
		display: flex;
		gap: 2rem;
	}	
}

.barra-lateral{
	margin: 1rem;
}

/* Trabajando */
.trabajando{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* Formulario */
.formulario{
	background-color: var(--formulario);
	padding: .5rem;
	margin: 0 auto;
}
.formulario fieldset{
	border: none;
  }
.formulario legend{
	text-align: center;
	font-weight: bold;
	color: var(--primario);
	margin-bottom: 2rem;
	margin-top: 1rem;
	text-transform: capitalize;
}